
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    
    @foreach (var tome in ViewBag.Tomes)
    {
        <h2>@tome.Name</h2>
        @Html.ActionLink("Read", "Show", "Tome", new { @id = tome.TomeId }, new { @class = "btn btn-primary btn-large" })
    }
</div>