@model Tome.Models.Tag
@{
    ViewBag.Title = "CreateTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    footer {
        padding-top: 20%;
        padding-bottom: 0;
        background-color: white;
    }
</style>
<div style="background-color: white;">
    <div class="form-group" style="background-color: white; margin-bottom: 0 !important;">
        <h2 class="text-center" style="margin-top: 50px; margin-bottom: 0 !important;">Create a new tag</h2>
        <div class="col-md-7">
            @using (Html.BeginForm("CreateTag", "Admin", FormMethod.Post))
            {   
                <label for="Name" class="control-label">Tag Name: </label>
                @Html.ValidationMessageFor(model => model.TagTitle, "", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.TagTitle, new { @class = "form-control" })

                <br />
                <input class="btn btn-primary btn-large" type="submit" value="Create Tag">
            }
        </div>
    </div>
</div>