@model Tome.Models.Tag
@{
    ViewBag.Title = "CreateTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateTag</h2>

@using (Html.BeginForm("CreateTag", "Admin", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.TagTitle)
    <input type="submit" value="Create Tag">
}
