@model List<Tome.Models.Tag>
@{
    ViewBag.Title = "ListTags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListTags</h2>

@foreach (var tag in Model)
{
    @tag.TagTitle
    @Html.ActionLink(
        "Delete Tag",
        "DeleteTag",
        "Account",
        new 
        {
            id = @tag.TagId
        },null);
}
