@using Tome.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/table.css" rel="stylesheet" />

<div class="index-menu-control">

    <div class="sort-menu">
        @Html.ActionLink("Tome Name", "IndexByName", "Tome", new { sortByNameAsc = true }, new { @class = "index-menu-categories1" })
        @Html.ActionLink("Creation Date", "IndexByDate", "Tome", new { sortByDateAsc = true }, new { @class = "index-menu-categories2" })
    </div>

    <div class="tome-list">
        @foreach (var tome in ViewBag.Tomes)
        {<div class="tome-element">
             @Html.ActionLink(((Tome)tome).Name, "Show", "Tome", new { id = tome.TomeId }, new { @class = "font-weight-bold text-capitalize index-menu-item" })
             <p class="index-menu-item tome-date">@tome.CreationDate</p>
         </div>
        }
    </div>


</div>