body {
    margin: 8px;
    display: block;
    margin: 0;
    min-width: 1012px;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    min-width: 1012px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.container-code {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    background-color: #cdffd8;
    border-color: #bef5cb;
    border: 1px solid #bef5cb;
}

.container-code p {
    padding-left: 10px;
}
