
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@foreach (var history in ViewBag.currentTomeHistory)
{
    <h1>@history.ModificationDate</h1>
    <h1>@history.FilePath</h1>
}
