@Model Int32
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@foreach (var history in ViewBag.TomeHistoryList)
{
    <h1>@history.ModificationDate</h1>

    using (Html.BeginForm("ChangeVersion", "History", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m, new { @Value = @Model, @type = "hidden" })
        <input type="submit" value="Change to this version">
    }

}